<div class="container">
  <h1>Famous quotes <span class="subtitle"> ● Refresh All</span></h1>
  <app-quote (refresh)="onRefresh()" content="The universe is transformation; our life is what our thoughts make it"
    author="Marcus Aurelius"></app-quote>
  <app-quote (refresh)="onRefresh()" content="The universe is transformation; our life is what our thoughts make it"
    author="Marcus Aurelius"></app-quote>
  <app-quote (refresh)="onRefresh()" content="The universe is transformation; our life is what our thoughts make it"
    author="Marcus Aurelius"></app-quote>
</div>